<!--View tipada-->

@model Tuple<List<achei_web.Models.POJO.Aluno>>

@{
    ViewBag.Title = "Início";
}

<style>
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

    table {
        align-items: center;
        border: 1px solid #ccc;
    }

    td, th {
        border: 1px solid #ccc;
        width: 250px;
        align-items: center;
    }

    .img-size {
        max-height: 100px;
        max-width: 100px;
    }

    #button {
        background-color: #e9b5ec93;
        font-size: 16px;
        width: 10%;
    }

        #button:hover {
            background-color: #dfdfdf;
        }

    form {
        border: 1px black solid;
        margin: 10%;
    }
</style>

<br />
@*<form asp-route="index" method="post">*@

<form method="post" enctype="multipart/form-data" asp-controller="Aluno" asp-action="Cadastro">
    <center>
        <br />
        <h3>cadastrar</h3>
        <br />
        nome: <input type="text" name="nome" id="nome" />
        <br />
        email: <input type="text" name="email" id="email" />
        <br />
        senha: <input type="password" name="senha" id="senha" />
        <br />
        Telefone: <input type="text" name="telefone" id="telefone" />
        <br />
        Data de nascimento: <input type="date" name="data_nascimento" id="data_nascimento" />
        <br />
        <br />
        <input type="submit" value="Adicionar" id="button" />
    </center>

    <br />
    <br />
    <br />
</form>